
<%- include('./partials/header.ejs') %>


<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs', {page_name:'Home'}) %>
    </div>

   <div class="col-sm-10">
  <!-- main content -->
  
     <div class="mt-5">
      <div class="text-center">
        <!-- <img src="/images/WhatsApp Image 2023-07-03 at 6.16.12 PM.jpeg" alt="" class=" img-fluid border border-success" width="250px" height="150px"> -->
         
      </div>
      <div class="mt-5 text-white mx-5 text-justify text-center typewriter">
        <h1>Hello!</h1>
      </div>
       <div class=" text-center text-white mt-5 typewriter">
        <h3 >I am <strong style="color:rgb(27, 139, 21) ;">Harsh Maurya</strong></h3>
       </div>
       <div class="container mt-5">
        <div class="row">
          <div class="col-md-12 ">
            <div class="para text-justify text-center text-white" style="line-height: 2rem;">
              <p style="text-indent: 100px;">Welcome to my portfolio website! I am thrilled to have you here. An aspiring full-stack developer specializing in the <span>MERN</span> stack. Currently, I am pursuing my undergraduate studies in Computer Science at <span>MITS Gwalior</span>, and I am in my third year.
                Throughout my journey, I have developed a strong foundation in <span>HTML, CSS,</span> and <span>JavaScript,</span> which I have further enhanced with frameworks like <span>Bootstrap</span> for responsive and aesthetically pleasing designs. With <span>Node.js</span> and <span>Express.js</span>, I have gained expertise in building robust and efficient server-side applications. Additionally, my proficiency in <span>React.js</span> enables me to create dynamic and interactive user interfaces.</p>
            </div>
            <div class="text-center mt-7">
              <button class="btn btn-success"><a href="/contact" style="text-decoration: none; color: #fff;">Contact Me</a></button>
            </div>
          </div>
        </div>
      </div>
      
      
        
      </div>
      
     </div>




   </div>
</div>
</div>
 <%- include('./partials/footer.ejs') %>