<%- include('./partials/header.ejs') %>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs', {page_name:'Skills'}) %>
    </div>
    <div class="col-sm-10">
      <!-- main content -->
      <div class="container-fluid mt-3">
        <h1 class="text-center mb-2" style="color: rgb(33, 163, 26);">Skills</h1>
        <div class="row text-center text-white mb-5">
          <div class="col-sm-3">
            <i class="fab fa-html5 fa-3x mb-3 i-color"></i>
            <h3>HTML</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-css3-alt fa-3x mb-3 i-color"></i>
            <h3>CSS</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-js fa-3x mb-3 i-color"></i>
            <h3>JavaScript</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-bootstrap fa-3x mb-3 i-color"></i>
            <h3>Bootstrap</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-react fa-3x mb-3 i-color"></i>
            <h3>React.js</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-node-js fa-3x mb-3 i-color"></i>
            <h3>Node.js</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-git fa-3x mb-3 i-color"></i>
            <h3>Git</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fab fa-github fa-3x mb-3 i-color"></i>
            <h3>GitHub</h3>
           
          </div>
          <div class="col-sm-3">
            <i class="fas fa-server fa-3x mb-3 i-color"></i>
            <h3>Express.js</h3>
           
          </div>
        </div>
        
       
         
        
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
